<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="utf-8" />
<title>Ridiculous • TodoMVC</title>
<link rel="stylesheet" href="css/base.css" />
<link rel="stylesheet" href="css/app.css" />
</head>
<body>
	<section id="todoapp">
		<header id="header">
			<h1>todos</h1>
			<form method="POST">
				<input id="new-todo" placeholder="What needs to be done?"
					autofocus="autofocus" name="title" />
			</form>
		</header>
		<section id="main" th:style="'display: ' + ${todos.size() gt 0 ? 'block' : 'none'}">
			<input id="toggle-all" type="checkbox" th:checked="${allComplete}"/> <label for="toggle-all">Mark
				all as complete</label>
			<ul id="todo-list">
				<li th:each="todo : ${todos}"
					th:class="${todo.completed ? 'completed' : ''}" data-id="{{id}}">
					<div class="view">
						<input class="toggle" type="checkbox"
							th:checked="${todo.completed}" /> <label th:text="${todo.title}">{{title}}</label>
						<button class="destroy"></button>
					</div> <input class="edit" value="{{title}}" />
				</li>
			</ul>
		</section>
		<footer id="footer">
			<span id="todo-count" th:unless="${todos.isEmpty()}"><strong th:text="${todos.size()}">3</strong> items left</span>
			<ul id="filters">
				<li><a href="#/" th:class="(${filter} eq 'All') ? ('selected')">All</a></li>
				<li><a href="#/active" th:class="(${filter} eq 'Active') ? ('selected')">Active</a></li>
				<li><a href="#/completed" th:class="(${filter} eq 'Completed') ? ('selected')">Completed</a></li>
			</ul>
			<button id="clear-completed" th:text="|Clear completed (${countCompleted})|">Clear completed</button>
		</footer>
	</section>
	<footer id="info">
		<p>Double-click to edit a todo</p>
		<p>
			Created by <a href="http://twitter.com/eloy_iv">@eloy_iv</a>
		</p>
		<p>
			Inspired by <a href="http://todomvc.com">TodoMVC</a>
		</p>
		<p>
			Check the code at <a href="https://github.com/mefernandez/ridiculous-todomvc">GitHub</a>
		</p>
	</footer>
	<script id="todo-template" type="text/x-handlebars-template">
		<![CDATA[
			{{#this}}
		{{/this}}
		]]>
		</script>
	<script id="footer-template" type="text/x-handlebars-template">
		<![CDATA[
			<span id="todo-count"><strong>{{activeTodoCount}}</strong> {{activeTodoWord}} left</span>
			<ul id="filters">
				<li>
					<a {{#eq filter 'all'}}class="selected"{{/eq}} href="#/all">All</a>
				</li>
				<li>
					<a {{#eq filter 'active'}}class="selected"{{/eq}}href="#/active">Active</a>
				</li>
				<li>
					<a {{#eq filter 'completed'}}class="selected"{{/eq}}href="#/completed">Completed</a>
				</li>
			</ul>
			{{#if completedTodos}}<button id="clear-completed">Clear completed ({{completedTodos}})</button>{{/if}}
		]]>
		</script>
</body>
</html>
